@import "tailwindcss";

@theme {
  /* --color-iee-blue: #1E40AF; */
  --color-iee-blue: #005198;
  --color-iee-yellow: #FBBF24;
  --color-iee-footer: #1E293B;
}



.btn {
  @apply px-6 py-2 rounded-full font-bold transition-all duration-300;
}

.btn-primary {
  @apply bg-iee-blue text-white;
}

.btn-primary:hover {
  @apply bg-blue-700 shadow-lg;
}

.btn-secondary {
  @apply bg-iee-yellow text-iee-footer;
}

.btn-secondary:hover {
  @apply bg-yellow-400 shadow-lg;
}

a {
  @apply transition-colors duration-300;
}

@layer utilities {
  @keyframes subtle-bounce {
    0%, 100% {
      transform: translateY(0);
      opacity: 0.8;
    }
    50% {
      transform: translateY(-10px);
      opacity: 1;
    }
  }

  .animate-subtle-bounce {
    animation: subtle-bounce 2s ease-in-out infinite;
  }
}
